.navBar{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1rem;
    display: flex;
    max-height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    font-weight: bolder;
    cursor: pointer;
}

.navItems{
    width: auto;
    font-weight: 600;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navItem{
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.searchBox{
    background-color: aliceblue;
    font-weight: 600;
    border-radius: 1rem;
}

.searchBox::placeholder{
    color: cornflowerblue;
}

.navActions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navActionsBtn{
    position: relative;
    margin-left: 1rem;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
}

.cartAction{
    position: relative;
    margin-left: 1rem;
    padding: 10px;
}

.cartIndex{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgb(10, 41, 28);
    color: white;
    font-size: small;
    font-weight: 700;
    border-radius: 100%;
    padding: 6px;
}