.productSection{
    display: flex;      
    background-color: rgb(240, 240, 240);
    flex-direction: row;     
    flex-wrap: wrap;          
    flex-grow: 1;            
    flex-shrink: 1;           
    justify-content: flex-start; 
    align-items: center; 
  }